@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* color: #fafafa; */
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --primary: #161717; /* Blue-500 */
  --primary-hover: #ffffff29; /* Blue-600 */
  --backdrop-color: rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 9px;
  box-shadow: var(--shadow-md);
  padding: 1rem 2rem;
  transition: all 0.5s;
  max-height: 400px;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backdrop-color);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

@layer base {
  table {
    @apply w-full border text-gray-900;
  }

  tr {
    @apply cursor-pointer hover:bg-[#F9FAFB];
  }

  th,
  td {
    @apply p-4;
  }

  th {
    @apply bg-primary text-left font-normal text-white;
  }

  label {
    @apply text-sm md:text-base;
  }

  input {
    @apply rounded-xl border-[1px] border-gray-500 bg-white px-3 py-2 text-sm focus:outline-none focus:ring-0 md:text-base;
  }
}

/* #3B82F6 (Blue-500)	Trustworthy, great for buttons/headers
Primary Hover	#2563EB (Blue-600)	Slightly darker for hover effects
Accent	#FACC15 (Yellow-400)	For highlights, alerts, and charts
Background	#F9FAFB (Gray-50)	Soft white background
Surface	#FFFFFF	For cards and modals
Border	#E5E7EB (Gray-200)	Light borders
Text Primary	#111827 (Gray-900)	Dark, readable text
Text Muted	#6B7280 (Gray-500) */

/* 
text-xl font-semibold for section headers

text-base font-medium for content

text-sm text-gray-500 for labels, muted text
*/

/* 
secondary: "#FFE66D",
        accent: "#6BCB77",
        neutral: "#4D4C7D",
        base100: "#F9F9F9",
        info: "#3ABFF8",
*/
